
/* Para chamar por id usa #*/
body{   
    margin: 50px;
    padding: 50px;   

}

h1{
    margin-left: 0;
}

p{

    margin-left: 0;
}

#imagemFundo{

    background-image: url(imagensSite\imagemDeFundo.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 150px;      
    height: auto; 
}